/*Schrijf hier jouw CSS*/

/*
.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    column-gap:16px;
    row-gap:16px;
}


flex-basis: auto;
flex-basis: 300px;
flex-shrink:3;
flex-grow: 2;
*/

body {
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap:wrap;
    flex-basis:100vh;
}


header {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    flex-basis:100px;
    flex-grow:0;
    flex-shrink:0;

}

main {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap:wrap;
    flex-basis:auto;

}

article {
    flex-basis:400px;
    flex-grow:4;
    flex-shrink:0;
}

nav {
    flex-basis:200px;
    flex-grow:1;
    flex-shrink:0;
    order:3;
}

aside {
    flex-basis:200px;
    flex-grow:1;
    flex-shrink:0;

}

footer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap:wrap;
    flex-basis:100px;
    flex-grow:0;
    flex-shrink:0;
}



