/*Schrijf hier jouw css*/

/* ------------------------------Inhoud ----------------------------------- */
/* 1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
         */

/* ----------------------- ---  0 Imports ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* -----------------------  1. Global Styles ---------------------- */


/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS HEX */
/*
space-cadet: #151e3fff;
oxford-blue: #030027ff;
beige: #f2f3d9ff;
buff: #dc9e82ff;
old-rose: #c16e70ff;
*/

body {
    background-color: beige;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #151e3fff;
}

.content-main-layout {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis:80vw;
}

/* -----------------------  2. Typography ---------------------- */


h1, h2, h3, h4 {
    color: #151e3fff;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-weight:500;
}

h1 {
    font-size:24px;
    text-align: center;
}

h2 {
    font-size:21px;
    line-height: 24px;
}

h3 {
    font-size:18px;
    text-align: center;
}

h4 {
    color: white;
    font-size:24px;
    text-align: left;
    text-transform: uppercase;
}


/* --------------------- ---  3.0 Nav --- --------------------- */


.nav-box {
    background-color: #030027ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100px;
    flex-grow:0;
    flex-shrink:0;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap:30px;
    padding:20px 40px;
}

.menu-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis:600px;
    flex-wrap: nowrap;
    column-gap:10px;
}


.menu-box li {
    list-style-type: none;
    color: white;
}

.menu-box li:hover {
    list-style-type: none;
    color: #dc9e82ff;
}

/* --------------------- ---  3.0 Layout --- --------------------- */

    header {
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 150px;
        flex-grow:0;
        flex-shrink:0;
        padding:30px;
    }



/* ---------------- --------  3.2 Body ------ ------------------ */
.content-box-articles {
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: auto;
    flex-wrap:wrap;
    column-gap:30px;
    row-gap:30px;
    padding:30px;
}

    .content-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items:center;
        min-height:450px;
        flex-basis: 280px;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: #c16e70ff;
        border-radius:5px;
        padding:20px;
    }

    .content-box p {
        text-align:center;
    }
}

/* ------------------------  3.3 Footer ------------------------ */


